.idea
__pycache__
/intermediate_python_pl/section 2/lab_6/akwariascienne.html
/intermediate_python_pl/section 2/lab_6/romaxwynajem.html
/intermediate_python_pl/section 2/lab_6/pandaramen.html
/intermediate_python_pl/section 3/lab_4/math_sin_square.py
/intermediate_python_pl/section 3/lab_4/math_square_root.py
/intermediate_python_pl/section 4/lab_2/log_it.txt
/intermediate_python_pl/section 5/lab_2/file_delete.txt
/intermediate_python_pl/section 5/lab_2/file_create.txt
/intermediate_python_pl/section 5/lab_4/spis.html
/intermediate_python_pl/section 5/lab_4/logo.png
/intermediate_python_pl/section 6/lab_7/black_forest.bakery
/intermediate_python_pl/section 6/lab_7/pavlova.bakery
/intermediate_python_pl/section 6/lab_9/all_cakes.html
/intermediate_python_pl/section 6/lab_9/Super_Sweet_Maringue.html
/intermediate_python_pl/section 6/lab_9/Vanilla_Cake.html
/intermediate_python_pl/section 6/lab_9/Chocolade_Muffin.html
/intermediate_python_pl/section 6/lab_9/Cocoa_waffle.html
/intermediate_python_pl/section 6/lab_9/cake01.html
/intermediate_python_pl/section 8/lab_1/spis.html
/intermediate_python_pl/section 9/lab_3/data.csv
/intermediate_python_pl/section 10/lab_3/links_to_check/com.txt
/intermediate_python_pl/section 10/lab_3/links_to_check/pl.txt
/intermediate_python_pl/section 11/lab_2/eurofxref.csv
/intermediate_python_pl/section 11/lab_2/euroxref.zip
/intermediate_python_pl/section 11/lab_4/eurofxref.csv
/intermediate_python_pl/section 11/lab_4/euroxref1.zip
